# Ignore virtual environment folders
venv/
.venv/
ENV/
env/
venv.bak/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode / PyCharm configs
.vscode/
.idea/

# macOS / Linux / Windows system files
.DS_Store
Thumbs.db
